
{% macro block(NAME = "", VERSION = "", DEFAULT_NAME = "") %}

    {% if VERSION != "" %}
        {% include [
            "blocks/" + VERSION + '/' + NAME + ".html",
            "blocks/" + VERSION + '/' + NAME ,
            "blocks/" + DEFAULT_NAME + ".html", 
            "blocks/" + DEFAULT_NAME
        ] %}
    {% else %}
        {% include [
            "blocks/" + NAME + ".html", 
            "blocks/" + NAME,
            "blocks/" + DEFAULT_NAME + ".html", 
            "blocks/" + DEFAULT_NAME
        ] %}
    {% endif %}

{% endmacro %}