{% extends "base.html"%}

{% block content %}

<div class="box">
    <nav>
        <a>Categories :</a>
        <a href='/posts/page1.html'>Tout</a>
        {% for category in object.categories %}
        <a href='/posts/category/{{category}}/page1.html'>{{ category|replace('-', ' ')|title }}</a>
        {% endfor %}
    </nav>
</div>

<div class="posts">
    {% for post in object.posts %}
    <div class="post-card" style="max-width: ; min-width: ">
        <a href="/posts/articles/{% if post.rel_folder_path != '' %}{{post.rel_folder_path}}/{% endif %}{{post.slug}}.html">
          <h2>{{ post.title }}</h2>
        </a>

        <div>
          <p>{{ post.metadata.abstract }}</p>
        </div>

        <div>
            <div>
                <div>
                  {{post.metadata.author}}
                </div>

                <div>
                  {{ post.timestamp.strftime("Le %d/%m/%Y à %Hh%M") }}
                </div>
            </div>

            <div>
                <a href="/posts/articles{% if post.rel_folder_path != '' %}{{post.rel_folder_path}}/{% endif %}/{{post.slug}}.html">
                  Lire la suite ...
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% if object.nb_pages > 1 %}
<br><br><br>
<div>
    {% if object.page > 1 %}
    {% if object.category != "" %}
    <a href="/posts/category/{{object.category}}/page{{object.page-1}}.html">Page précédente</a>
    {% else %}
    <a href="/posts/page{{object.page-1}}.html">Page précédente</a>
    {% endif %}
    {% endif %}

    {% if object.page < object.nb_pages %}
    {% if object.category != "" %}
    <a href="/posts/category/{{object.category}}/page{{object.page+1}}.html">Page suivante</a>
    {% else %}
    <a href="/posts/page{{object.page+1}}.html">Page suivante</a>
    {% endif %}
    {% endif %}
</div>

<div>
    Pages :
    {% for page in range(1, object.nb_pages+1) %}
    {% if object.category != "" %}
    <a href="/posts/category/{{object.category}}/page{{page}}.html">{{page}}</a>
    {% else %}
    <a href="/posts/page{{page}}.html">{{page}}</a>
    {% endif %}
    {% endfor %}
</div>
{% endif %}

{% endblock %}