{% macro testimonials(
    PERSONS = []
   )
%}

<!-- Testimonials-->
<section class="testimonials text-center bg-dark">
    <div class="container">

        <div class="row text-left">
            {% for reference in PERSONS %}
            <div class="col-md-12 col-sm-12 col-12 col-lg-6 col-xl-4 mb-4">
                <div class="card testimonial-card">
                    <div class="card-body">
                        <img class="img-fluid rounded-circle mb-3" style="max-width: 8em; float:right;" src="{{ static(reference.img_url)}}" alt="" />
                        <h5 class="card-title">{{ reference.name }}</h5>
                        <h6 class="card-subtitle mb-2">{{ reference.job }}</h6>
                        {% for text in reference.testimonial %}
                        <p class="card-text lead">
                            {{ text|safe }}
                        </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row text-center">
            <p class="col-12 mt-4">
                <a href="https://pay.galae.net/" target="_blank" class="btn btn-primary btn-lg">
                    Je suis convaincu, je veux souscrire maintenant&nbsp;!
                    <i class="bi-rocket"></i>
                </a>
            </p>
        </div>

    </div>
</section>

{% endmacro %}