<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 h-100 text-center text-lg-start my-auto">
        <p>
          Service commercialisé par
          <a href="https://www.algoo.fr" target="_blank">algoo</a>.
          <br/>
          <i class="bi-fw bi-phone-vibrate"></i>&nbsp;&nbsp;<a href="tel:+33972497220">(+33)
          9.72.49.72.20</a>
          <br/>
          <i class="bi-envelope-at"></i>&nbsp;&nbsp;hello@galae.net
        </p>
      </div>
      <div class="col-lg-3 h-100 text-center text-lg-start my-auto">
        <ul class="list-unstyled mb-0">
          <li class="list-item me-4">
            <a href="{% url 'index' %}">Accueil</a>
          </li>
          <li class="list-item me-4">
            <a href="{% url 'page' 'temoignages-clients' %}">Témoignages clients</a>
          </li>
          <li class="list-item me-4">
            <a href="{{ static('assets/docs/grille_tarifaire_galae.pdf') }}" target="_blank">Télécharger la
              grille tarifaire</a>
          </li>
          <li class="list-item me-4">
            <a href="https://pay.galae.net/" target="_blank">Passer commande</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 h-100 text-center text-lg-start my-auto">
        <ul class="list-unstyled mb-0">
          <li class="list-item me-4">
            <a href="https://webmail.galae.net/" target="_blank">Accès Webmail</a>
          </li>
          <li class="list-item me-4">
            <a href="https://community.galae.net/" target="_blank">Espace communautaire et
              Support</a>
          </li>
          <li class="list-item me-4">
            <a href="https://mail.galae.net/" target="_blank">Gestion de mon compte</a>
          </li>
          <li class="list-item me-4">
            <a href="{% url 'page' 'generateur-enregistrements-dns' %}">Générateur d'enregistrements DNS</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 h-100 text-center text-lg-end my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item me-4">
            <a href="https://www.algoo.fr" title="Site web algoo" target="_blank"><i
                    class="bi-globe fs-3"></i></a>
          </li>

          <li class="list-inline-item me-4">
            <a href="#!" title="Contactez-nous par e-mail"
               onclick="this.href='mailto:hello@galae.net?subject=Hello, j\'aimerais en savoir plus sur vos offres e-mail galae...'"><i
                    class="bi-envelope fs-3"></i></a>
          </li>

          <li class="list-inline-item me-4">
            <a href="https://public-community.galae.net"
               title="Communauté, documentation, forums et aide" target="_blank">
              <i class="bi-people-fill fs-3"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="text-muted small mt-4 mb-2 mb-lg-0">&copy; Algoo 2023-2024. Tous droits
          réservés.</p>
      </div>
    </div>
  </div>
</footer>
